body {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/docs/images/scroll.jpg);
    background-size: cover;
  }

  .openImg {
    width: 1000px;
    position: relative;
    border: 7.5px solid #de9c6c;
    border-radius: 25px;
    border-style: inset;
  }

  #game-intro {
    padding: 0px;
    position: relative;
    display: inline-block;
  }
  .start-setting{
    text-align: center;
    position: absolute; /* Positioned relative to the .image-container */
    top: 230px; /* Adjust this to position the div vertically */
    left: 375px; /* Adjust this to position the div horizontally */
    width: 250px; /* Set the width of the div */
    height: 200px; /* Set the height of the div */
     /* Set the text color inside the div */
    padding: 10px; /* Add some padding to make the content readable */
    box-sizing: border-box;
  }

  #inst-list{
    color: rgba(133, 98,42,1);
    list-style-type: none;
    padding: 0;
  }

  #start-button {
    font-size: 20px;
    background-color: #de9c6c; /*bright option: #ffdab9; dark option: de9c6c */
    color: #fff;
    padding: 20px 40px;
    border: 1;
    border-style: outset;
    box-shadow: 0;
    border-radius: 15px;
    margin-bottom: 20px;
    
  }

 #instructions{
    color: rgba(133, 98,42,1);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  #game-intro-button{
    font-size: 10px;
    background-color: #de9c6c; /*bright option: #ffdab9; dark option: de9c6c */
    color: #fff;
    padding: 5px 10px;
    border: 1;
    border-style: outset;
    box-shadow: 0;
    border-radius: 7.5px;

}
  .stats{
    position: absolute; /* Positioned relative to the .image-container */
    top: 60px; /* Adjust this to position the div vertically */
    left: 1115px; /* Adjust this to position the div horizontally */ 
    text-align: left;
    display: block;
    width: 90px; /* Set the width of the div */
    height: 75px; /* Set the height of the div */
    font-size: 20px;
    color: rgba(109, 84, 43, 1); /* Set the text color inside the div */
    font-weight: 600;
    z-index: 1;
  }

  .stats p{
    margin: 10px;
    color: rgba(109, 84, 43, 1);
    width: 90px;
  }

  .stats span{
    font-size: 17px;
  }
  
  #game-container {
    display: flex;
    width: 100vw;
    padding: 0;
    justify-content: center;
  }
  
  #game-screen {
    display: none;
    align-items: center;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: transparent;
    background-size: cover;
    border: 7.5px solid #de9c6c;
    border-radius: 25px;
    /*transition: background-image 5s;*/
     -webkit-animation-name: background;
    -webkit-animation-duration: 45s;
    -webkit-animation-direction:normal;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
  }


@-webkit-keyframes background {
  0% {
    background-image: url(/docs/images/morning.jpg);
  }
  40% {
    background-image: url(/docs/images/evening.jpg);
  }
  60% {
    background-image: url(/docs/images/night.jpeg);
  }
  100% {
    background-image: url(/docs/images/morning.jpg);
  }
}

  /*#game-screen:hover {
    background-image: url(/docs/images/evening.jpg);
    transition: background-image 5s;
  }*/

  #game-screen:hover {
    background-image: url(/docs/images/night.jpg);
  }
  

  #road img{
    width: 200%;
    height:120px;
    top: 600px;
    padding: 0;
    filter: sepia(100%);
    position: relative;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Move the element left by 50% of its width */
    }
  }

.endImg {
    width: 1000px;
    height: 600px;
    position: relative;
    border: 7.5px solid #de9c6c;
    border-radius: 25px;
    border-style: inset;
    margin-top: 0;
  }

  #game-end {
    padding: 0;
    position: relative;
    display: none;
    
  }
  
  .gameOver-set{
    text-align: center;
    position: absolute; /* Positioned relative to the .image-container */
    top: 275px; /* Adjust this to position the div vertically */
    left: 620px; /* Adjust this to position the div horizontally */
    width: 250px; /* Set the width of the div */
    height: 200px; /* Set the height of the div */
     /* Set the text color inside the div */
    padding: 10px; /* Add some padding to make the content readable */
    box-sizing: border-box;
    color: #ffdab9;
  }

  #restart-button {
    font-size: 20px;
    background-color: #de9c6c; /*bright option: #ffdab9; dark option: de9c6c */
    color: #fff;
    padding: 20px 40px;
    border: 1;
    border-style: outset;
    box-shadow: 0;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  #team-button{
    font-size: 18px;
    background-color: #de9c6c; /*bright option: #ffdab9; dark option: de9c6c */
    color: #fff;
    padding: 5px 10px;
    border: 1;
    border-style: outset;
    box-shadow: 0;
    border-radius: 7.5px;
    margin-top: 20px;
  }

  #team-screen {
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-image: url(/docs/images/teamImg.avif);
    background-size: cover;
    width: 1000px;
    height: 700px;
    border: 7.5px solid #de9c6c;
    border-radius: 25px;
    border-style: inset;
    margin: 0 auto;
  }

  #team-set{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: #ffdab9;

  }

  #team-set h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  #team-message{
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  #contact{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
    margin-top: 120px;
  }

  #contact ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #contact li{
    padding: 15px;
  }

  .contact-btn {
    font-size: 20px;
    background-color: #de9c6c; /*bright option: #ffdab9; dark option: de9c6c */
    color: #fff;
    padding: 20px 40px;
    border: 1;
    border-style: outset;
    box-shadow: 0;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  #final-button {
    font-size: 20px;
    background-color: #de9c6c; /*bright option: #ffdab9; dark option: de9c6c */
    color: #fff;
    padding: 7.5px 15px;
    border: 1;
    border-style: outset;
    box-shadow: 0;
    border-radius: 10px;
    margin-bottom: 20px;
  }